<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!-- from node_modules -->
    <script src="node_modules/@material-tailwind/html@latest/scripts/ripple.js"></script>
    
    <!-- from cdn -->
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>
    <!-- Material Icons Link -->
        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
        />

        <!-- Font Awesome Link -->
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous"
        />
</head>
<style>
  footer {
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
}
</style>
<body>
  <nav class="navbar navbar-expand-lg p-3 text-primary-emphasis bg-primary-subtle navbar-dark ">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <h4>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}" class="fw-semibold">Panel<span class="badge rounded-pill p-1 text-danger-emphasis bg-danger-subtle">Admin</span></span></a>
          {% else %}
          <a class="nav-link active" href="{% url 'home' %}">Panel</a>
          {% endif %}
        </li>
      </h4>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'list' %}">Grades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add' %}">Student status</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Grades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Student status</a>
    </li>
    </div>
    {% endif %}
    {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'addgrade' %}">Add grade</a>
    </li>
    {% else %}
    {% endif %}
    {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ST' %}">Add Student status</a>
    </li>
    {% else %}
    {% endif %}
    </div>
    {% if user.is_authenticated %}
    <h6 class="fw-bolder">Signed in as <span class="badge bg-secondary">{{ user.get_username }}</span>


<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>

{% endif %}
  </nav> 
  
      <div class="container mt-5">
        <h1>Grades:</h1>
    <table class="table table-hover">
          <div class="row">
            <div class="col-sm-8">
        <tr style="font: bold;">
            <TH>Fullname</TH><th>Class score</th><th>Exam score</th><th>Passed?</th><th>Onclass</th>
        </tr>
        {% for grade in grade %}
        <tr>
            <td>{{ grade.fullname }}</td>
            <td>{{ grade.score }}</td>
            <td>{{ grade.exam }}</td>
            <td>{{ grade.passed }}</td>
            <td>{{ grade.onclass }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
</body>
<!-- Footer -->
<footer class=" text-center text-lg-start text-white" style="background-color:#000000;">
  <!-- Grid container -->
  <div class="container p-10">
    <div class="container mt-5">



  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="{% url 'home' %}">Panel.com<span class="badge bg-secondary p-1 text-info-emphasis bg-primary-subtle border border-primary-subtle rounded-1" >Beta</span></a>
  </div>
  <!-- Copyright -->

</footer>
</div>
  <!-- Footer -->
</html>